{% extends "base.html" %}
{% block content %}
<form method="POST">
  <h2>Login</h2>
  <label for="username">Username:</label>
  <input type="text" name="username" placeholder="Enter your username" required>
  
  <label for="password">Password:</label>
  <input type="password" name="password" placeholder="Enter your password" required>
  
  <button type="submit">Login</button>
  <p style="text-align:center; margin-top:1em;">
    Don't have an account?
    <a class="button-link" href="{{ url_for('register') }}">Register</a>
  </p>
</form>
{% endblock %}
